<!doctype html>
<html lang="ru" data-bs-theme="auto">
  <head><script src="/assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Панель управления">
    <meta name="author" content="Pooh Pooh">
    <title>Панель управления</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/dashboard.css" rel="stylesheet">

    <style>
      .htmx-indicator{
          display:none;
      }
      .htmx-request .htmx-indicator{
          display:inline;
      }
      .htmx-request.htmx-indicator{
          display:inline;
      }
    </style>

  </head>
  <body>
    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
              id="bd-theme"
              type="button"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              aria-label="Цветовая схема (авто)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="/assets/icons.svg#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Цветовая схема</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
            <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="/assets/icons.svg#sun-fill"></use></svg>
            Светлая
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="/assets/icons.svg#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="/assets/icons.svg#moon-stars-fill"></use></svg>
            Тёмная
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="/assets/icons.svg#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
            <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="/assets/icons.svg#circle-half"></use></svg>
            Авто
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="/assets/icons.svg#check2"></use></svg>
          </button>
        </li>
      </ul>
    </div>

    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
      <a  class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="/">
        <span hx-get="/core/get-name.php"
          hx-trigger="load"
          hx-swap="innerHTML"
          hx-indicator="#indicator_name">
        <img id="indicator_name" class="htmx-indicator" src="/assets/loader.gif" width="32"/></span></a>

      <div hx-get="/core/get-status.php" hx-trigger="every 4s" hx-swap="innerHTML" class="px-2">
        <img src="/assets/loader.gif" width="32"/>
      </div>

      <ul class="navbar-nav flex-row d-md-none">
        <li class="nav-item text-nowrap">
          <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
            <svg class="bi"><use xlink:href="#search"/></svg>
          </button>
        </li>
        <li class="nav-item text-nowrap">
          <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <svg class="bi"><use xlink:href="/assets/icons.svg#list"/></svg>
          </button>
        </li>
      </ul>

      <div id="navbarSearch" class="navbar-search w-100 collapse">
        <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
          <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-header">
              <h5 hx-get="/core/get-name.php"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                  hx-indicator="#indicator_name_small"
                  class="offcanvas-title" id="sidebarMenuLabel"><img id="indicator_name_small" class="htmx-indicator" src="/assets/loader.gif" width="32"/></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
            </div>
            <div  id="sidebar" hx-get="/core/get-sidebar.php"
                  hx-trigger="load"
                  hx-swap="innerHTML"
                  hx-indicator="#indicator_sidebar"
                  class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                  <img id="indicator_sidebar" class="htmx-indicator" src="/assets/loader.gif" width="32" class="ps-3"/>
            </div>
          </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <img id="indicator_main_window" class="htmx-indicator" src="/assets/loader.gif" width="32" class="ps-3"/>
          <div hx-get="/features/dashboard.php"
               hx-trigger="load"
               hx-swap="innerHTML"
               hx-indicator="#indicator_main_window"
               id="main_window">
          </div>
        </main>
      </div>
    </div>
    <script src="/assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/dist/js/htmx.min.js"></script>

    <!-- Custom icons for this template -->
    <object type="image/svg+xml" data="/assets/icons.svg" class="d-none"></object>

  </body>
</html>
